body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: #f8f5f0;
    margin: 20px;
}


h1 {
    text-align: center;
    color: #a67244;
}


#nota {
    padding: 8px;
    width: 250px;
}


#add, #Remover, #RemoverTudo {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #a67244;
    color: #fff;
    cursor: pointer;
}


#container, #naoUrgente {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #fffaf5;
}


#container {
    border-color: #d98c6b;
}


#naoUrgente {
    border-color: #d9c96b;
}


p {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
}


.azul {
    background-color: #a8c4d9;
}


.verde {
    background-color: #c9d9a8;
}


.roxo {
    background-color: #c6a8d9;
}

